{% extends 'AppBundle:Frontend:layout.html.twig' %}

{% block content %}
    {% block wrapTitle %}
        <header class="wrap-title">
            <div class="container">
                <h1 class="page-title">{% block wrapTitleText %}{{ 'app.label.company_index'|trans }}{% endblock %}</h1>

                <ol class="breadcrumb hidden-xs">
                    {% block wrapTitleCrumb %}
                        <li><a href="{{ path('app_default_index') }}">{{ 'app.label.home'|trans }}</a></li>
                        <li class="active">{{ 'app.label.company_index'|trans }}</li>
                    {% endblock %}
                </ol>
            </div>
        </header>
    {% endblock %}

    {% block contentContainer %}
        <div class="container">
            <div class="row">
                {% block innerWrapper %}
                    <div class="col-md-8">
                        {% block contentInner %}
                            {% for company in companies %}
                                <article class="post animated fadeInLeft animation-delay-8">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <h3 class="post-title"><a href="{{ path('app_company_show', { 'id' : company.id }) }}" class="transicion">{{ company.name }}</a></h3>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a href="{{ path('app_company_show', { 'id' : company.id }) }}">
                                                        <img src="http://loremflickr.com/780/405/" class="img-post img-responsive" alt="{{ company.name }}">
                                                    </a>
                                                </div>
                                                <div class="col-lg-6">
                                                    {{ company.pitch|truncate(400, true, '...')|raw }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-lg-10 col-md-9 col-sm-8">
                                                    <i class="fa fa-clock-o"></i> {{ company.createdAt|date("d/m/Y") }}.
                                                </div>
                                                <div class="col-lg-2 col-md-3 col-sm-4">
                                                    <a href="{{ path('app_company_show', { 'id' : company.id }) }}" class="pull-right">{{ 'app.label.read_more'|trans }} &raquo;</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endblock %}
                        {% block contentPager %}

                        {% endblock %}
                    </div> <!-- col-md-8 -->
                {% endblock %}
                {% block sideContaier %}
                    <div class="col-md-4">
                        <aside class="sidebar">
                            {% block sidebarInner %}
                                {# @todo: Company search #}

                                {#
                                <div class="block">
                                    <div class="input-group">
                                        <input type="text" placeholder="Search..." class="form-control">
                                          <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                                          </span>
                                    </div>
                                </div>
                                #}
                                {{ render(controller('AppBundle:Frontend/Box:navBox')) }}
                            {% endblock %}
                        </aside>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}


{% endblock %}
