<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>
{% block head %}
    {% block headMeta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    <title>{% block title %}SF Demo{% endblock %}</title>

    {% block css %}
    <link href="{{ asset('bundles/app/theme/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/app/theme/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/app/theme/css/animate.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/app/theme/css/lightbox.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/app/theme/css/syntax/shCore.css') }}" rel="stylesheet"  media="screen">
    <link href="{{ asset('bundles/app/theme/css/syntax/shThemeDefault.css') }}" rel="stylesheet"  media="screen">

    <link href="{{ asset('bundles/app/theme/css/style.css') }}" rel="stylesheet" media="screen" title="default">
    <link href="{{ asset('bundles/app/theme/css/color-olive.css') }}" rel="stylesheet" media="screen" title="default">
    <link href="{{ asset('bundles/app/theme/css/width-full.css') }}" rel="stylesheet" media="screen" title="default">
    {% endblock %}

    {% block headScript %}
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/app/theme/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/app/theme/js/respond.min.js') }}"></script>
    <![endif]-->
    {% endblock %}
{% endblock %}
</head>

<body>
{% block body %}
<div class="boxed animated fadeIn animation-delay-5">

    <header id="header" class="hidden-xs">
    {% block header %}
        <div class="container">
            <div id="header-title">
            {% block headerTitle %}
                <h1 class="animated fadeInDown"><a href="{{ path('app_default_index') }}">{% block siteName %}<span>SF</span> Demo{% endblock %}</a></h1>
                <p class="animated fadeInLeft">{% block sitePitch %}An app with Jobs and locations.{% endblock %}</p>
            {% endblock %}
            </div>

            <div id="social-header" class="hidden-xs">
            {% block headerSocial %}
            {% endblock %}
            </div>

            <div id="search-header" class="hidden-xs animated bounceInRight">
            {% block headerSearch %}
                {# @todo: Job search #}
                {#
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                </div>
                #}
            {% endblock %}
            </div>
        </div>
    {% endblock %}
    </header>

    <nav class="navbar navbar-static-top navbar-mind" role="navigation">
    {% block navbar %}
        <div class="container">

            <div class="navbar-header">
            {% block navbarHeader %}
                <a class="navbar-brand visible-xs" href="{{ path('app_default_index') }}">{% block navbarBrand %}Project <span>DX</span>{% endblock %}</a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars fa-inverse"></i>
                </button>
            {% endblock %}
            </div>

            <div class="collapse navbar-collapse navbar-mind-collapse">
            {% block navbarNav %}
                {{ knp_menu_render('main_menu', { 'currentClass' : 'active' }) }}
            {% endblock %}
            </div>
        </div>
    {% endblock %}
    </nav>

    {% block content %}
    {% endblock %}

    <footer id="footer">
    {% block footer %}
        <p>&copy; 2015 <a href="#">SF Demo</a>, inc. All rights reserved.</p>
    {% endblock %}
    </footer>

</div>

<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>


{% block bottomScripts %}
<script src="{{ asset('bundles/app/theme/js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/jquery.cookie.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/jquery.mixitup.min.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/lightbox-2.6.min.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/holder.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/app.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/styleswitcher.js') }}"></script>

<script src="{{ asset('bundles/app/theme/js/syntax/shCore.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/syntax/shBrushXml.js') }}"></script>
<script src="{{ asset('bundles/app/theme/js/syntax/shBrushJScript.js') }}"></script>

<script type="text/javascript">
    SyntaxHighlighter.all()
</script>
{% endblock %}

{% endblock %}
</body>

</html>
