<div class="block">
    <ul class="nav nav-tabs" id="myTab2">
        <li class="active"><a href="#companies" data-toggle="tab"><i class="fa fa-star"></i></a></li>
        <li><a href="#categories" data-toggle="tab"><i class="fa fa-folder-open"></i></a></li>
        <li><a href="#tags" data-toggle="tab"><i class="fa fa-tags"></i></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="companies">
            <h3 class="post-title">{{ 'app.label.companies'|trans }}</h3>
            <ul class="media-list">
                {% for company in companies %}
                <li class="media">
                    <a class="pull-left" href="{{ path('app_company_show', { 'id' : company.id }) }}"><img class="media-object" src="http://loremflickr.com/80/80/" width="80" height="80" alt="{{ company.name }}"></a>
                    <div class="media-body">
                        <p class="media-heading"><a href="{{ path('app_company_show', { 'id' : company.id }) }}">{{ company.name }}</a></p>
                        <small>{{ company.pitch|striptags|truncate(60)|raw }}</small>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane" id="categories">
            <h3 class="post-title">{{ 'app.label.categories'|trans }}</h3>
            <ul class="simple">
                {% for category in categories %}
                <li><a href="{{ path('app_category_show', { 'slug' : category.slug }) }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane" id="tags">
            <h3 class="post-title">{{ 'app.label.tags'|trans }}</h3>
            <div class="tags-cloud">
                {% for tag in tags %}
                <a href="{{ path('app_job_tag_index', { 'slug' : tag.slug }) }}" class="tag">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
