<a href="{{ path('app_company_show', { 'id' : company.id }) }}" ><h4>{{ company.name }}</h4></a>
<ul class="list-unstyled">
{% for job in company.jobs %}
    <li><a href="{{ path('app_job_show', { 'id': job.id }) }}">{{ job.name }}</a></li>
{% endfor %}
</ul>