{% extends 'AppBundle:Frontend:base_index.html.twig' %}

{% block wrapTitleText %}{{ job.name }}{% endblock %}

{% block wrapTitleCrumb %}
    <li><a href="{{ path('app_default_index') }}">{{ 'app.label.home'|trans }}</a></li>
    <li class="active">{{ job.name }}</li>
{% endblock %}

{% block contentInner %}
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-description">
                                    {{ 'app.label.description'|trans }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-description" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {{ job.description|raw }}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-requirements" class="collapsed">
                                   {{ 'app.label.requirements'|trans }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-requirements" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ job.requirements|raw }}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-offer" class="collapsed">
                                    {{ 'app.label.offer'|trans }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-offer" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ job.offer|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            {% if job.company %}
                <h2>{{ 'app.label.company'|trans }}</h2>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ job.company.name }}</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% if job.company.tel %}<li class="list-group-item"><i class="fa fa-phone"></i> {{ job.company.tel }}</li>{% endif %}
                            {% if job.company.fax %}<li class="list-group-item"><i class="fa fa-print"></i> {{ job.company.fax }}{% endif %}
                            {% if job.company.email %}<li class="list-group-item"><i class="fa fa-envelope"></i> {{ job.company.email }}{% endif %}
                            {% if job.company.address %}
                                <li class="list-group-item">
                                    {{ job.company.address.street }} {{ job.company.address.nr }},<br />
                                    {{ job.company.address.postcode }} {{ job.company.address.cityName }}<br />
                                    {{ job.company.address.countryName }}
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
        {% if gmap is defined %}
            <div class="row">
                <div class="col-md-12">
                    {{ google_map(gmap) }}
                </div>
            </div>
        {%  endif %}
    </section>
{% endblock %}