{% extends 'AppBundle:Frontend:layout.html.twig' %}

{% block content %}
    <section id="map">
        <div class="container">
            <h1 class="center-title">{{ 'app.label.welcome'|trans }}</h1>
            <div class="col-md-12">
                {{ google_map(gmap) }}
            </div>
        </div>
    </section>
    
{% endblock %}