{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
    <script>

    </script>
{% endblock %}
