{% extends 'AppBundle:Frontend:base_index.html.twig' %}


{% block wrapTitleText %}{{ 'app.label.company_index'|trans }}{% endblock %}

{% block wrapTitleCrumb %}
<li><a href="{{ path('app_default_index') }}">{{ 'app.label.home'|trans }}</a></li>
<li class="active">{{ 'app.label.company_index'|trans }}</li>
{% endblock %}

{% block contentInner %}
   {% for company in companies %}
       <article class="post animated fadeInLeft animation-delay-8">
           <div class="panel panel-default">
               <div class="panel-body">
                   <h3 class="post-title"><a href="{{ path('app_company_show', { 'id' : company.id }) }}" class="transicion">{{ company.name }}</a></h3>
                   <div class="row">
                       <div class="col-lg-6">
                           <a href="{{ path('app_company_show', { 'id' : company.id }) }}">
                               <img src="http://loremflickr.com/780/405/" class="img-post img-responsive" alt="{{ company.name }}">
                           </a>
                       </div>
                       <div class="col-lg-6">
                           {{ company.pitch|truncate(400, true, '...')|raw }}
                       </div>
                   </div>
               </div>
               <div class="panel-footer">
                   <div class="row">
                       <div class="col-lg-10 col-md-9 col-sm-8">
                           <i class="fa fa-clock-o"></i> {{ company.createdAt|date("d/m/Y") }}.
                       </div>
                       <div class="col-lg-2 col-md-3 col-sm-4">
                           <a href="{{ path('app_company_show', { 'id' : company.id }) }}" class="pull-right">{{ 'app.label.read_more'|trans }} &raquo;</a>
                       </div>
                   </div>
               </div>
           </div>
       </article>
   {% endfor %}
{% endblock %}
