{% extends 'AppBundle:Frontend/Company:index.html.twig' %}

{% block wrapTitleText %}{{ company.name }}{% endblock %}

{% block wrapTitleCrumb %}
    <li><a href="{{ path('app_default_index') }}">{{ 'app.label.home'|trans }}</a></li>
    <li><a href="{{ path('app_company_index') }}">{{ 'app.label.company_index'|trans }}</a></li>
    <li class="active">{{ company.name }}</li>
{% endblock %}

{% block contentInner %}
    <section>
        <div>
            {{ company.pitch|raw }}
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>{{ 'app.label.contact_info'|trans }}</h3>
                <ul class="list-group">
                    {% if company.tel %}<li class="list-group-item"><i class="fa fa-phone"></i> {{ company.tel }}</li>{% endif %}
                    {% if company.fax %}<li class="list-group-item"><i class="fa fa-print"></i> {{ company.fax }}{% endif %}
                    {% if company.email %}<li class="list-group-item"><i class="fa fa-envelope"></i> {{ company.email }}{% endif %}
                    {% if company.address %}
                    <li class="list-group-item">
                        {{ company.address.street }} {{ company.address.nr }},<br />
                        {{ company.address.postcode }} {{ company.address.cityName }}<br />
                        {{ company.address.countryName }}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if gmap is defined %}
        <div class="row">
            <div class="col-md-12">
                {{ google_map(gmap) }}
            </div>
        </div>
        {%  endif %}
    </section>
    {% if company.jobs %}
    <section>
        <h2>{{ 'app.label.jobs'|trans }}</h2>
        <div class="row">
            {% for job in company.jobs %}
            <div class="col-md-4 col-sm-6">
                <a href="{{ path('app_job_show', { 'id' : job.id }) }}">
                    <div class="mind-box mind-box-primary" style="height:200px;">
                        <i class="fa fa-desktop"></i>
                        <h4 class="mind-box-title">{{ job.name }}</h4>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
{% endblock %}