{% extends 'AppBundle:Frontend:base_index.html.twig' %}


{% block wrapTitleText %}{{ 'app.label.category_index'|trans }}{% endblock %}

{% block wrapTitleCrumb %}
    <li><a href="{{ path('app_default_index') }}">{{ 'app.label.home'|trans }}</a></li>
    <li class="active">{{ 'app.label.category_index'|trans }}</li>
{% endblock %}

{% block contentInner %}
    <div class="row">
    {% for category in categories %}
        <div class="col-md-4 col-sm-6">
            <a href="{{ path('app_category_show', { 'slug' : category.slug }) }}">
                <div class="mind-box mind-box-primary" style="height:200px;">
                    <h4 class="mind-box-title">{{ category.name }}</h4>
                    <i class="fa fa-desktop"></i>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}